:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --blue-button: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: "inter";
    --botao-azul-efeito: #5a8cc9;


}

body {
background-color: var(--cor-de-fundo);
color: var(--branco-principal);
font-family: var(--fonte-principal);
font-size: 16px;
font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;


}

.conteiner{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__button{
    background-color: var(--blue-button);
    border-radius: 5%;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;

}
.button_second{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}
.conteiner__alert{
    font-size: 12px;
    color: var(--cinza-secundario);

}
.conteiner__title{
    font-size: 28px;
    font-weight: 700;
}
.conteiner__img{
    margin: 1em 0 2em 0;
}
.conteiner__box{
    margin: 0 6em;
}
.secundario__img{
    width: 80%;
}
.secundario{ 
    align-items: center;
    margin: 0 10em;

}
.descrition__title{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}
.descrition__title{
    color: var(--cinza-secundario);
}
.button__second{
    display: inline-block;
    margin-top: 1em;
}

.conteiner__description{
    padding: 2em;
}

.dispositivo__list{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 5em 0;
}

.dispositivo{
    text-align: center;
}

.dispositivo__tittle{
    font-size: 48px;
    color: var(--branco-principal);
}

.list__item{
    font-size: 32px;
    color: var(--branco-principal);
}
.rodape{
    text-align: center;
}
.footer__list{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 1em 0;
}

.footer__link a{
    font-size: 16px;
    color: var(--branco-principal);
    margin-left: 3em;
    text-decoration: none;

}
.footer__text{
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 16px;
}
.rodape {
    text-align: center;
    margin: 5em 3em;
}

    .footer__link a:hover{
        color: var(--blue-button);
    }
    .footer__link a:active{
        color: var(--cinza-secundario);
    }

    .container__button:hover {
        background-color: var(--botao-azul-efeito);
        color: var(--cor-de-fundo);
    }